.cart {
	height: 100%;
	width: 100%;
	background: #279FF6;
	position:fixed;
	top: 0;
	left: 0;
	@include center;
	z-index: 107;
	transform: scaleX(0);
	transition-duration: 0.3s;
	transition-delay: 0.25s;
	transform-origin: 0% 50%;
	font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
	@media #{$mq-800} {
		width: 50%;
		@include headerShadow;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 100%;
			width: 100%;
			height: 100%;
			background: rgba(#000, 0.5);
		}
	}
	&>div{
		@include center;
		flex-direction: column;
		width: 100%;
		&>h1 {
			color: #fff;
			font-size: 5vh;
			font-weight: 800;
			transform: translateX(-100px);
			opacity: 0;
			transition-delay: 0s;
			transition-duration: 0.3s;
			transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
		}
		&>.saved-dogs{
			width: 100%;
			border-top: 2px solid #fff;
			border-bottom: 2px solid #fff;
			@include center;
			flex-direction: column;
			transform: translateX(-100px);
			opacity: 0;
			transition-delay: 0s;
			transition-duration: 0.3s;
			transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
			&>h3 {
				color: #fff;
				font-weight: 300;
			}
			&>.saved-dog {
				height: 50px;
				width: 90%;
				@include center;
				flex-direction: row;
				justify-content: space-between;
				max-width: 500px;
				margin: 10px auto;
				position: relative;
				&::after {
					content: "";
					position: absolute;
					bottom: -10px;
					left: 0;
					width: 100%;
					height: 1px;
					background: #fff;
				}
				&>h2 {
					margin: 0;
					color: #fff;
					font-size: 1.3em;
				}
				&>img {
					height: 50px;
					width: 50px;
					border-radius: 50%;
					@include headerShadow;
				}
				&>.remove-dog{
					margin: 0;
					width: 40px;
					height: 40px;
					background: #fff url('cross.svg') no-repeat center;
					background-size: 70% 70%;
					@include center;
					@include headerShadow;
					border: none;
					outline: none;
					border-radius: 50%;
					color: #279FF6;
					transition: all 0.2s;
					font-weight: 900;
				}
				&>.remove-dog-animate{
					background: #fff url('check-blue.svg') no-repeat center;
					background-size: 70% 70%;
				}
			}
			&>.saved-dog:last-of-type::after{
				display: none;
			}
			&>.saved-dog-remove {
				opacity: 0;
				transform: translateX(100px);
				transition-duration: 0.2s;
			}
		}
		&>.bc {
			@include center;
			flex-direction: row;
			transform: translateX(-100px);
			opacity: 0;
			transition-delay: 0s;
			transition-duration: 0.3s;
			transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
			&>button {
				outline: none;
				border: none;
				@include headerShadow;
				@include center;
				background: #fff;
				color: #279FF6;
				margin: 1em;
				text-transform: uppercase;
				padding: 15px 20px;
				border-radius: 2.5px;
				font-size: 0.9em;
				font-weight: 500;
			}
		}
		&>input {
			background: #fff;
			outline: none;
			border: none;
			border-radius: 2.5px;
			margin: 5px;
			padding: 2.5px 5px;
			width: 90%;
			max-width: 300px;
			height: 40px;
			@include headerShadow;
			color: #000;
			transform: translateX(-100px);
			opacity: 0;
			transition-delay: 0s;
			transition-duration: 0.3s;
			transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
			@media #{$mq-800} {
				max-width: 350px;
				margin: 5px 10px;
			}
		}
	}
}


.cart-show{
	transform: scaleX(1);
	transition-duration: 0.3s;
	transition-delay: 0s;
	&>div>h1 {
		transform: translateY(0px);
		opacity: 1;
		transition-duration: 0.4s;
		transition-delay: 0.2s;
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
	&>div>.saved-dogs {
		transform: translateY(0px);
		opacity: 1;
		transition-duration: 0.4s;
		transition-delay: 0.25s;
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
	&>div>.bc {
		transform: translateY(0px);
		opacity: 1;
		transition-duration: 0.4s;
		transition-delay: 0.3s;
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
	&>div>input:first-of-type {
		transform: translateY(0px);
		opacity: 1;
		transition-duration: 0.4s;
		transition-delay: 0.25s;
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
	&>div>input:last-of-type {
		transform: translateY(0px);
		opacity: 1;
		transition-duration: 0.4s;
		transition-delay: 0.3s;
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
}



.cart ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #279FF6;
}
.cart ::-moz-placeholder { /* Firefox 19+ */
  color: #279FF6;
}
.cart :-ms-input-placeholder { /* IE 10+ */
  color: #279FF6;
}
.cart :-moz-placeholder { /* Firefox 18- */
  color: #279FF6;
}